# Random build related directories
**/__pycache__
**/build
**/*.egg*
**/_Pickle
**/PythonGNN
setup-scripts/source_this.sh

# Cache types 
*.hdf5
*.pkl

# Cython and C++ compiler code 
*.pyc
*.so
*.c
*.cpp

# Models
*.pth

# Installer stuff
# setup-scripts/source_this.sh

# Vim related swaps 
*.swp

# Testing stuff 
**/.tox
**/.coverage*
**/*EventCache*

