# Random build related directories
**/__pycache__
**/build
**/*.egg*
**/gnn-analysis
**/.apptainer
**/.local
scripts/source_this.sh

# Cache types 
**.hdf5
**.pkl
**.root
**/ProjectName
local/**/*.png
**.h5
**.pt
**.pth
**.pgf

# Cython and C++ compiler code 
**.pyc
**.so
**.c
**.cpp
**cfg.h
**AutoDict*

# Vim related swaps 
**.swp

# Doxygen documentation
doxygen-docs/
unscoped/
