# Random build related directories
**/__pycache__
**/build
**/*.egg*
**/_Pickle
**/gnn-analysis
**/.apptainer
**/.local
scripts/source_this.sh

# Cache types 
**.hdf5
**.pkl
**.root
local/**/*.png
**.h5
**.pt
**.pth

# Cython and C++ compiler code 
**.pyc
**.so
**.c
**.cpp

# Vim related swaps 
**.swp

# Testing stuff 
**/.tox
**/.coverage*

