[build-system]
requires = ["setuptools", "cython", "numpy", "wheel", "torch>=1.13.1"]
build-backend = "setuptools.build_meta"

[project]
name = "AnalysisG"
version = "4.0.0"
authors = [{name = "woywoy123"}]
readme.content-type = "text/markdown"
readme.file = "README.md"
requires-python = ">=3.7"
dependencies = [
    "mplhep==0.3.28",
    "matplotlib==3.5.3",
    "pyAMI-atlas==5.1.0.1",
    "numpy",
    "uproot",
    "h5py",
    "pwinput",
    "scikit-learn",
    "torchmetrics",
    "torch-geometric",
    "boost_histogram"
]

classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Cython", 
    "Programming Language :: C++"
]

[project.urls]
Homepage = "https://github.com/woywoy123/AnalysisG"

[tool.setuptools.package-dir]
"AnalysisG" = "src"
"AnalysisG.IO"           = "src/IO"
"AnalysisG.Tools"        = "src/Tools"
"AnalysisG.Events"       = "src/Events"
"AnalysisG.Graphs"       = "src/Events/Graphs"
"AnalysisG.Model"        = "src/Model"
"AnalysisG._cmodules"    = "src/cmodules"
"AnalysisG.Templates"    = "src/Templates"
"AnalysisG.Generators"   = "src/Generators"
"AnalysisG.Particles"    = "src/Events/Particles"
"AnalysisG.Notification" = "src/Notification"
"AnalysisG.Submission"   = "src/Submission"
#"AnalysisG.Plotting" = "src/Plotting" 

[tool.setuptools.package-data]
"*" = ["*.pyx", "*.pxd", "*.cxx", "*.h"]

[project.scripts]
config_pyami = "AnalysisG.Settings:CONFIG_PYAMI"
auth_pyami = "AnalysisG.Settings:AUTH_PYAMI"
install_pyc = "AnalysisG.Settings:POST_INSTALL_PYC"
make_analysis="AnalysisG.Settings:make_analysis"
AnalysisG = "AnalysisG.__main__:main"

[tool.bumpver]
current_version = "4.0.0"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message  = "bump version {old_version} -> {new_version}"
commit          = true
tag             = true
push            = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
]

