[build-system]
requires = ["setuptools>=61.0.0", "cython==3.0.0", "wheel", "torch"]
build-backend = "setuptools.build_meta"

[project]
name = "AnalysisG"
version = "3.1"
authors = [{name = "woywoy123"}]
readme.content-type = "text/markdown"
readme.file = "README.md"
requires-python = ">=3.7"
dependencies = [
    "numpy", 
    "uproot", 
    "h5py", 
    "mplhep", 
    "networkx", 
    "scikit-learn", 
    "torchmetrics", 
    "torch-geometric", 
    "pwinput", 
    "pyAMI-atlas==5.1.0.1"
]

classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Cython", 
    "Programming Language :: C++"
]

[tool.setuptools.package-dir]
"AnalysisG" = "src"
"AnalysisG.Notification" = "src/Notification"
"AnalysisG.IO" = "src/IO"
"AnalysisG.Settings" = "src/Settings"
"AnalysisG.Templates" = "src/Templates"
"AnalysisG.Events" = "src/Events"
"AnalysisG.Particles" = "src/Events/Particles"
"AnalysisG.Graphs" = "src/Events/Graphs"
"AnalysisG.Tools" = "src/Tools"
"AnalysisG.Generators" = "src/Generators"
"AnalysisG.Plotting" = "src/Plotting" 
"AnalysisG.Submission" = "src/Submission"
"AnalysisG.Model" = "src/Model"
"AnalysisG.Evaluation" = "src/Evaluation"

[tool.setuptools.package-data]
"*" = ["*.pyx", "*.pxd", "*.cxx", "*.h"]

[project.scripts]
CONFIG_PYAMI = "AnalysisG.Settings:CONFIG_PYAMI"
AUTH_PYAMI = "AnalysisG.Settings:AUTH_PYAMI"
POST_INSTALL_PYC = "AnalysisG.Settings:POST_INSTALL_PYC"

