psutil==5.9.4
matplotlib==3.7.0 
tqdm==4.64.1  
uproot==5.0.7 
h5py==3.8.0  
mplhep==0.3.28 
networkx==3.1.0  
scikit-learn==1.2.2 
torchmetrics==0.11.4
pytest==7.2.2 
vector==1.0.0
torch-geometric==2.1.0
pyAMI-atlas==5.1.0.1
