sphinx>=4.0.0
sphinx_rtd_theme>=1.0.0
breathe>=4.33.0
myst-parser>=0.18.0
sphinx-copybutton>=0.5.0
sphinx-design>=0.3.0
sphinx-autodoc-typehints>=1.19.0
sphinxcontrib-bibtex>=2.5.0
nbsphinx>=0.8.9
graphviz>=0.20
autodocsumm>=0.2.9
sphinxcontrib-napoleon>=0.7